In [1]:
#Importing required libraries
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity

In [2]:
#Requred datasets: user_ratings,song_dataset
data = pd.read_csv("./user_ratings.csv")
database = pd.read_excel("F:/Durham_College_AI/1- semester/Capstone/Song_dataset.xls")
database.drop(["Unnamed: 0"],inplace = True,axis = 1)
data.drop(["Unnamed: 0"],inplace = True,axis = 1)

In [3]:
data.fillna(0,inplace = True) 
data

,0,1,2,3,4,5,6,7,8,9,...,33844,33845,33846,33847,33848,33849,33850,33851,33852,33853
0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
#Create user-user similarity matrix using cosine similarity function
user_similarity = cosine_similarity(data)
user_similarity_df = pd.DataFrame(user_similarity,index = data.index,columns = data.index)
user_similarity_df

          0         1         2         3         4         5
0  1.000000  0.000000  0.000000  0.949968  0.000000  0.000000
1  0.000000  1.000000  0.000000  0.000000  0.640513  0.000000
2  0.000000  0.000000  1.000000  0.000000  0.000000  0.717741
3  0.949968  0.000000  0.000000  1.000000  0.000000  0.000000
4  0.000000  0.640513  0.000000  0.000000  1.000000  0.000000
5  0.000000  0.000000  0.717741  0.000000  0.000000  1.000000

In [90]:
#Gets the most similar user from the matrix
def get_similar_users(user):
    similar_score = user_similarity_df[user]
    similar_score = similar_score.sort_values(ascending = False)
    return similar_score.index[1]
#Returns recommendations from the most similar user 
def get_recommendations(s_user,o_user):
    x = data.iloc[s_user]
    y = data.iloc[o_user]
    s_set = set(x[y!=0].index.values)
    o_set  = set(x[x!=0].index.values)
    return s_set ^ o_set

In [102]:
#Main body of program: returns recommedned songs(names and spotify uri)
user = int(input("Enter the target user:"))
similar_user = get_similar_users(user)
recommendations = list(get_recommendations(similar_user,user))
r_song_name = database.iloc[recommendations].Tracks.values
r_artist_name = database.iloc[recommendations].Artist.values
r_uri =  database.iloc[recommendations].uri.values
#print(recommendations)
print(similar_user)
print(recommendations)
print(r_song_name + " by " + r_artist_name + " :" + r_uri )

Enter the target user: 1

4
['3603', '3598', '3596', '3597', '3601', '3608', '3604', '3595', '3606', '4534', '3602', '3609', '3607', '3605', '3600', '3599']
['Photographs by Rihanna :spotify:track:5MisfXEgNN0f2uH8SOdQpH'
 'Stupid In Love by Rihanna :spotify:track:2tZIODp1jXjnoyVZy3ymBx'
 'Wait Your Turn by Rihanna :spotify:track:3JX3yQqgedjFhe1zkLm2lD'
 'Hard by Rihanna :spotify:track:6o3XRhj40mqTnJsFuENsSz'
 'Fire Bomb by Rihanna :spotify:track:5WorjWmXWpcLPFCimCcv1E'
 'Russian Roulette - Donni Hotwheel Remix by Rihanna :spotify:track:7KSKaTdQWsOJ8h2i5N2kxG'
 'G4L by Rihanna :spotify:track:3SHv4UZCGjWG8O0UwvgeGC'
 'Mad House by Rihanna :spotify:track:0ZxNf0T1OX51ABAHSnQxrE'
 'Cold Case Love by Rihanna :spotify:track:0ms0tS4UcBT9H4u1jtFtcb'
 'Fortune Teller by Maroon 5 :spotify:track:0rDGq6snkk6gr5k4A9hlhC'
 'Rude Boy by Rihanna :spotify:track:180tYOjVoVnuDFZdTzgQRe'
 'Hole In My Head by Rihanna :spotify:track:09z4oFv8sBxjYofKsuNwlu'
 'The Last Song by Rihanna :spotify:track:6xcd0hougYOxwMZc8y7bl6'
 'Te Amo by Rihanna :spotify:track:5KI208gglUGjhAVUZKd5Dy'
 'Russian Roulette by Rihanna :spotify:track:1ZSpCn9Xwv5e7atgmG9Re1'
 'ROCKSTAR 101 by Rihanna :spotify:track:03mtIJroUEvBoMZP8BvWxd']